<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CyberShield Scanner Pro</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">
🛡️ CyberShield Pro
</div>

<div class="nav-links">

<a href="/login" class="login-btn">
Login
</a>

<a href="/register" class="register-btn">
Register
</a>

</div>

</nav>

<section class="hero">

<h1>
Protect Your Website<br>
Like A Pro
</h1>

<p>
AI Powered Security Scanner For Modern Websites
</p>

<a href="/register">

<button class="scan-btn">
🚀 Start Free Scan
</button>

</a>

</section>

<section class="features">

<div class="card">
<h2>🔒 SSL Scanner</h2>
<p>Check SSL Certificate Security</p>
</div>

<div class="card">
<h2>🌍 WHOIS Lookup</h2>
<p>Domain Ownership Information</p>
</div>

<div class="card">
<h2>📡 Port Scanner</h2>
<p>Detect Open Network Ports</p>
</div>

<div class="card">
<h2>🛡️ Risk Score</h2>
<p>Website Security Rating</p>
</div>

<div class="card">
<h2>🤖 AI Security</h2>
<p>AI Recommendations</p>
</div>

<div class="card">
<h2>📈 Monitoring</h2>
<p>24x7 Website Monitoring</p>
</div>

</section>

<footer>

© 2026 CyberShield Scanner Pro<br>

Developed By Aditya Mishra

</footer>

</body>
</html>